# Webscraping Goodreads 

## Work Cited
Code used is based on the following source:  
mee-kell. “web-scraper.” web-scraper, 4 Jul 2021, https://github.com/mee-kell/web-scraper/blob/master/web-scraper.py. Accessed 14 May 2022.

## Import data and libraries

In [1]:
# libraries for web scraping
from bs4 import BeautifulSoup
import requests 
import urllib.request

# timer to avoid any bans 
import time, random

# library for data handling
import pandas as pd

## Establish variables and function to extract data

In [2]:
# variable to store the scraped data
data = []

In [3]:
# Function to scrap data from the site
def scrape_website (page_number): 
    page_num = str(page_number)
    url = "https://www.goodreads.com/list/show/264.Books_That_Everyone_Should_Read_At_Least_Once?page="+page_num
    
    time.sleep(random.randint(10, 600))
    webpage = requests.get(url)
    page_soup = BeautifulSoup(webpage.text, "html.parser")
    containers = page_soup.findAll("tr", {"itemtype": "http://schema.org/Book"})

    for container in containers:
        title = container.find("a", {"class": "bookTitle"}).text.strip()
        title = title.replace(",", "")
        author = container.find("a", {"class": "authorName"}).text.strip()
        image = container.find("img", {"class": "bookCover"})["src"]
        rating = container.find("span", {"class": "minirating"}).text.strip()
        avg_rating = rating.split()[0]
        ratings = rating.split()[4]
        data.append((title, author,avg_rating, ratings))

## Extact data for 50 pages

In [4]:
# scrap 50 of 100 pages
n = 50
for page_number in range (1,n):
    scrape_website(page_number)

## store data

In [5]:
# convert data to DataFrame
df = pd.DataFrame (data, columns =["title", "author", "avg_rating", "total_ratings"])

In [6]:
#Check returned data
df.head()

,title,author,avg_rating,total_ratings
0,To Kill a Mockingbird,Harper Lee,4.27,"5,260,972"
1,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.48,"8,496,025"
2,Pride and Prejudice,Jane Austen,4.28,"3,595,947"
3,The Diary of a Young Girl,Anne Frank,4.17,"3,236,081"
4,Animal Farm,George Orwell,3.97,"3,260,451"

In [7]:
# store data as CSV
df.to_csv("Books_That_Everyone_Should_Read_At_Least_Once1.csv",index= False)